<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

 <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="@MODULE@_@RELEASE_NAME@_ModuleId"
             name="@MODULE@_@RELEASE_NAME@ Module">

    <module id="@MODULE@_@RELEASE_NAME@"
            label="@MODULE@"
            mandatory="@MANDATORY_T@"
            allowMultiple="false"
            description="@MODULE@ BSW module"
            copyright="@COPYRIGHT@"
            swVersionMajor="@VERSION_MAJOR@"
            swVersionMinor="@VERSION_MINOR@"
            swVersionPatch="@VERSION_PATCH@"
            swVersionSuffix="@RELEASE_TYPE@"
            specVersionMajor=""
            specVersionMinor=""
            specVersionPatch=""
            specVersionSuffix=""
            relVersionPrefix="AUTOSAR"
            relVersionMajor="@AUTOSAR_RELEASE_VERSION_MAJOR@"
            relVersionMinor="@AUTOSAR_RELEASE_VERSION_MINOR@"
            relVersionPatch="@AUTOSAR_RELEASE_VERSION_PATCH@"
            relVersionSuffix=""
            categoryType="@MODULE@"
            categoryLayer="MCAL"
            categoryCategory="ECU Firmware"
            categoryComponent="ECUC">
      <ecuType target="@TARGET_ARCHITECTURE@" derivate="@SILICON_NAME@"/>

    </module>
  </extension>

#START_REMOVE_MULTI_INSTANCE#
<extension point="dreisoft.tresos.launcher2.plugin.module"
             id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_ModuleId"
             name="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@ Module">

    <module id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@"
            label="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@"
            mandatory="false"
            allowMultiple="false"
            description="@MODULE@ BSW module"
            copyright="@COPYRIGHT@"
            swVersionMajor="@VERSION_MAJOR@"
            swVersionMinor="@VERSION_MINOR@"
            swVersionPatch="@VERSION_PATCH@"
            swVersionSuffix="@RELEASE_TYPE@"
            specVersionMajor=""
            specVersionMinor=""
            specVersionPatch=""
            specVersionSuffix=""
            relVersionPrefix="AUTOSAR"
            relVersionMajor="@AUTOSAR_RELEASE_VERSION_MAJOR@"
            relVersionMinor="@AUTOSAR_RELEASE_VERSION_MINOR@"
            relVersionPatch="@AUTOSAR_RELEASE_VERSION_PATCH@"
            relVersionSuffix=""
            categoryType="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@"
            categoryLayer="MCAL"
            categoryCategory="ECU Firmware"
            categoryComponent="ECUC">
      <ecuType target="@TARGET_ARCHITECTURE@" derivate="@SILICON_NAME@"/>

    </module>
</extension>
#END_REMOVE_MULTI_INSTANCE#

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="@MODULE@_@RELEASE_NAME@_ConfigId"
             name="@MODULE@_@RELEASE_NAME@ Configuration">
    <configuration moduleId="@MODULE@_@RELEASE_NAME@">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/@MODULE@.xdm" type="xdm"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/@RELEASE_NAME@/@MODULE@"/>
      </data>

      <editor id="@MODULE@_@RELEASE_NAME@_EditorId"
              label="Default"
              tooltip="@MODULE@ BSW module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/@RELEASE_NAME@/@MODULE@"/>
          <parameter name="title" value="@MODULE@"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

#START_REMOVE_MULTI_INSTANCE#
<extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_ConfigId"
             name="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@ Configuration">
    <configuration moduleId="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/@MODULE@.xdm" type="xdm"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@/@MODULE@"/>
      </data>

      <editor id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_EditorId"
              label="Default"
              tooltip="@MODULE@ BSW module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@/@MODULE@"/>
          <parameter name="title" value="@MODULE@"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
</extension>
#END_REMOVE_MULTI_INSTANCE#

 <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="EPCGenerator"
             name="EPC Generator">
  <generator moduleId="@MODULE@_@RELEASE_NAME@"
               id="@MODULE@_@RELEASE_NAME@"
               class="dreisoft.tresos.autosar2.generator.EPCFileGenerator">

  <parameter name="variantAware" value="true"/>
  <parameter name="cfgFilePath" value="output"/>
  <parameter name="generateAllModules" value="false"/>
  <parameter name="generateIntoOneFile" value="false"/>
  <parameter name="contentType" value="asc:@ASC_AUTOSAR_VERSION@"/>
  </generator>
 </extension>

#START_REMOVE_MULTI_INSTANCE#
<extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="EPCGenerator"
             name="EPC Generator">
  <generator moduleId="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@"
               id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@"
               class="dreisoft.tresos.autosar2.generator.EPCFileGenerator">

  <parameter name="variantAware" value="true"/>
  <parameter name="cfgFilePath" value="output"/>
  <parameter name="generateAllModules" value="false"/>
  <parameter name="generateIntoOneFile" value="false"/>
  <parameter name="contentType" value="asc:@ASC_AUTOSAR_VERSION@"/>
  </generator>
</extension>
#END_REMOVE_MULTI_INSTANCE#

 <extension point="dreisoft.tresos.generator.api.plugin.generator" id="@MODULE@_@RELEASE_NAME@_NGGeneratorId">
          <generator moduleId="@MODULE@_@RELEASE_NAME@"
                     class="dreisoft.tresos.generator.ng.api.NGGenerator"
                     id="@MODULE@_@RELEASE_NAME@_UniqueNGGeneratorId"
                     modes="generate,generate_PC,generate_PB,verify"
                     step="post">
              <parameter name="buildfile" value="ant_generator.xml"/>
           <parameter name="variantAware" value="true"/>
          </generator>
  </extension>

#START_REMOVE_MULTI_INSTANCE#
<extension point="dreisoft.tresos.generator.api.plugin.generator" id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_NGGeneratorId">
          <generator moduleId="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@"
                     class="dreisoft.tresos.generator.ng.api.NGGenerator"
                     id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_UniqueNGGeneratorId"
                     modes="generate,generate_PC,generate_PB,verify"
                     step="post">
              <parameter name="buildfile" value="ant_generator.xml"/>
           <parameter name="variantAware" value="true"/>
          </generator>
</extension>
#END_REMOVE_MULTI_INSTANCE#

#START_REMOVE_ECUC_POSTBUILD#
<extension
      point="dreisoft.tresos.autosar2.api.plugin.postbuildSetup"
      id="autosar2.api.test.postbuildSetup.basic">
    <configuration
         activeLoadableRef="ASPath:/@RELEASE_NAME@/@MODULE@/EcucSelectedLoadableVariant/EcucSelectedLoadableRef"
         activeSelectableRef="ASPath:/@RELEASE_NAME@/@MODULE@/EcucPostBuildVariants/EcucSelectedPostBuildVariantRef"
         selectableRefs="ASPath:/@RELEASE_NAME@/@MODULE@/EcucPostBuildVariants/EcucPostBuildVariantRef">
     </configuration>
  </extension>
#END_REMOVE_ECUC_POSTBUILD#

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="@MODULE@_@RELEASE_NAME@_GeneratorId"
              name="@MODULE@_@RELEASE_NAME@ Generator">
    <generator moduleId="@MODULE@_@RELEASE_NAME@"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
    <parameter name="variantAware" value="true"/>
      <parameter name="templates" mode="generate,verify" value="generate,generate_PC,generate_PB"/>
    </generator>
  </extension>

#START_REMOVE_MULTI_INSTANCE#
<extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@_GeneratorId"
              name="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@ Generator">
    <generator moduleId="@MODULE@_@VENDOR_ID@_@INSTANCE_ID@_@RELEASE_NAME@"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
    <parameter name="variantAware" value="true"/>
      <parameter name="templates" mode="generate,verify" value="generate,generate_PC,generate_PB"/>
    </generator>
</extension>
#END_REMOVE_MULTI_INSTANCE#

#START_REMOVE_RESOURCE_SUPPORT#
  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="@TARGET_ARCHITECTURE@"
      derivate="@SILICON_NAME@"
      moduleId="@MODULE@_@RELEASE_NAME@"
      file="resource/@RESOURCE_PACKAGE@.properties">
      <parameter name="subderivative" value="@RESOURCE_PACKAGE@"/>
    </ecuresource>
  </extension>

  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresourcefinder">
    <ecuresourcefinder>
      <finder class="dreisoft.tresos.autosar2.api.ecuresource.DefaultEcuResourceFinder">
        <parameter name="name" value="subderivative"/>
        <parameter name="path" value="ASPath:/@RELEASE_NAME@/@MODULE@/ResourceGeneralContainer/ResourcePackage"/>
      </finder>
    </ecuresourcefinder>
  </extension>
#END_REMOVE_RESOURCE_SUPPORT#

  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true"/>
    <toc file="$nl$/@MODULE@/toc.xml" primary="false"/>
  </extension>
</plugin>

